<p-toast position="top-center"></p-toast>

<div class="container">
  <div class="card custom-card">
    <h2 class="title">Verificar Código</h2>

    <form [formGroup]="verifyForm" (ngSubmit)="validarCodigo()">
      <!-- Código de verificación -->
      <div class="p-field">
        <label for="verificationCode">Código de verificación</label>
        <input
          id="verificationCode"
          type="text"
          pInputText
          formControlName="verificationCode"
          maxlength="6"
          placeholder="Ingrese el código enviado"
          class="input-field"
        />
        <small
          *ngIf="verifyForm.get('verificationCode')?.invalid && verifyForm.get('verificationCode')?.touched"
          class="p-error"
        >
          Ingresa un código válido de 6 dígitos.
        </small>
      </div>

      <!-- Botón de validar -->
      <p-button
        label="Validar Código"
        type="submit"
        [disabled]="verifyForm.invalid || loading"
        class="submit-btn w-full font-bold text-lg"
        />
    </form>

    <!-- Mensajes de error y éxito -->
    <p *ngIf="errorMessage" class="p-error p-mt-2 center-text">{{ errorMessage }}</p>
    <p *ngIf="successMessage" class="p-success p-mt-2 center-text">{{ successMessage }}</p>
  </div>
</div>