<div class="contenido-pedidos">
  <h2 class="titulo">Pedidos</h2>

  <!-- Botón que redirige a Admin Materiales -->
  <div class="boton-materiales-container">
    <p-button
      label="Materiales"
      icon="pi pi-box"
      class="btn-materiales"
      [routerLink]="['/admin-materiales']"
      [styleClass]="'p-button-rounded p-button-outlined'"
    ></p-button>
  </div>

  <div class="contenedor-pedidos">
    <ng-container *ngFor="let pedido of pedidos">
      <p-card class="card-pedido">
        <div class="cabecera-card" (click)="toggleExpand(pedido)">
          <span><strong>ID:</strong> {{ pedido.id }}</span>
          <i class="pi" [ngClass]="pedido.expanded ? 'pi-chevron-up' : 'pi-chevron-down'"></i>
        </div>

        <div *ngIf="pedido.expanded" class="contenido-card">
          <p><strong>Nombre empresa o Cliente:</strong> {{ pedido.empresa }}</p>
          <p><strong>Detalle (viene de cliente):</strong> {{ pedido.detalle }}</p>
        </div>
      </p-card>
    </ng-container>
  </div>
</div>
