<div class="ticket-container">
  <h2 class="title">Gestión de Tickets</h2>

  <div class="form-group">
    <label>ID</label>
    <input type="text" pInputText [(ngModel)]="ticket.id" disabled />
  </div>

  <div class="form-group">
    <label>Fecha de la Visita</label>
    <p-calendar [(ngModel)]="ticket.fechaVisita" showIcon="true"></p-calendar>
  </div>

  <div class="form-group">
    <label>Hora de la Visita</label>
    <input type="text" pInputText [(ngModel)]="ticket.horaVisita" />
  </div>

  <div class="form-group">
    <label>Cliente</label>
    <p-dropdown 
      [options]="tecnicos" 
      [(ngModel)]="ticket.tecnico" 
      optionLabel="name">
    </p-dropdown>
  

  <div class="form-group">
    <label>Estado</label>
    <input type="text" pInputText [(ngModel)]="ticket.estado" />
  </div>

  <div class="form-group">
    <label>Detalle</label>
    <textarea pInputTextarea [(ngModel)]="ticket.detalle"></textarea>
  </div>

  <button pButton type="button" label="Guardar" (click)="guardarTicket()" class="save-button"></button>
</div>